<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
    <script src="https://unpkg.com/hyperscript.org@0.9.5"></script>
    <?!= include('static/Runner.js'); ?>
    <?!= include('static/style.css'); ?>
  </head>
  <body>
    <main>
      <div class="main-container">
        <div class="sample">
          <button _="on click call Runner.run('SWAPI', 'getPeople')
          then put the result into #swapi-sample
          then call _hyperscript.processNode(#swapi-sample)
          "
          >Get Star Wars characters</button>
          <div id="swapi-sample"></div>
        </div>
      </div>
    </main>
  </body>
</html>
